body {
  background-color: #212121;
  color: #ccc;
  font-size: 16px;
  line-height: 1.75;
  font-family: 'Pixel', Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

@font-face {
  font-family: 'vcr-osd';
  src: url('https://fastly.jsdelivr.net/gh/hellodigua/cdn/fonts/vcr-osd.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Pixel';
  src: url('https://fastly.jsdelivr.net/gh/hellodigua/cdn/fonts/zpix.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'xkcd';
  src: url('https://fastly.jsdelivr.net/gh/hellodigua/cdn/fonts/zpix.woff2') format('woff2');
  font-display: swap;
}

::selection {
  background: rgba(255, 255, 255, 0.2);
}

